div#taskbar-container(class="blue-background")
    a(href="index.html")
        img(src="/res/home.svg", alt="home logo")
    a(href="#")
        img(src="/res/piggybank.svg", alt="payslips logo")
    a(href="#")
        img(src="/res/calendar.svg", alt="calendar logo")
    a(href="#")
        img(src="/res/person.svg", alt="person logo")   
    a(href="punchIn.html")
        img(src="/res/clock.svg", alt="clock logo") 