div#taskbar-container(class="blue-background")
    a(href="#")
        img(src="/res/home.svg", alt="home logo")
    a(href="#")
        img(src="/res/piggybank.svg", alt="payslips logo")
    a(href="#")
        img(src="/res/person.svg", alt="person logo")   
    a(href="#")
        img(src="/res/clock.svg", alt="clock logo")
    if loggedInUser.accessLevel >= 2
        a(href="#")
            img(src="/res/calendar.svg", alt="calendar logo")
        a(href="#")
            img(src="/res/employees.svg", alt="employees logo", class="filter-white")
    a(href="#")
            img(src="/res/logout.svg", alt="logout logo", class="filter-white")