div#taskbar-container(class="blue-background")
    a(href="/")
        img(src="/res/home.svg", alt="home logo")
    a(href="/payslips")
        img(src="/res/piggybank.svg", alt="payslips logo")
    a(href="/profile")
        img(src="/res/person.svg", alt="person logo")   
    a(href="/timeClock")
        img(src="/res/clock.svg", alt="clock logo")
    if loggedInUser.access.level >= 2
        a(href="/rota")
            img(src="/res/calendar.svg", alt="calendar logo")
        a(href="/employees")
            img(src="/res/employees.svg", alt="employees logo", class="filter-white")
    if loggedInUser
        form(action="/logout" method="GET")
            button(type="submit")
                img(src="/res/logout.svg", alt="logout logo", class="filter-white")