head
  link(rel='stylesheet' href='/Users/abbywilson/G9/src/css/stylesheet.css')
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | Rota for January
.scroll-flex-row-container(style='margin-top: var(--medium-px)')
  table.overflow-table.safe-centre-table
    thead
      th Week Beginning
      th Day
      th Shift
    tbody
      tr
        td XX/XX/XX
        td Monday
        td
      tr
        td
        td Tuesday
        td 10:00 - 18:00
      tr
        td
        td Wednesday
        td 09:00 - 17:00
      tr
        td
        td Thursday
        td
      tr
        td
        td Friday
        td 12:00 - 16:30
      tr
        td
        td Saturday
        td
      tr
        td
        td Sunday
        td 12:00 - 16:30
      tr
        td XX/XX/XX
        td Monday
        td 10:00 - 18:00
      tr
        td
        td Tuesday
        td
      tr
        td
        td Wednesday
        td 13:00 - 19:30
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  a.primary-button(style='margin-left: var(--large-px)')
    | Previous
  a.primary-button(style='margin-left: var(--large-px)')
    | Next
