include includes/header
include includes/nav
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | Payslips
.scroll-flex-row-container(style='margin-top: var(--medium-px)')
  table.overflow-table.safe-centre-table
    thead
      th Month
      th Tax Month
      th Payslip
    tbody
      tr
        td December 21
        td 9
        td **Insert Link to payslip**
      tr
        td January 22
        td 10
        td
      tr
        td February22
        td 11
        td
      tr
        td March22
        td 12
        td
      tr
        td April 22
        td 1
        td
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  a.primary-button(style='margin-left: var(--large-px)')
    | Previous
  a.primary-button(style='margin-left: var(--large-px)')
    | Next
