include includes/header
include includes/nav
.flex-row-wrap-container
  a(href="/rota").dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/calendar.svg')
    | Rota
  a(href="/payslips").dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/piggybank.svg')
    | Payslips
  a(href="/profile").dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/person.svg')
    | Profile