include includes/header
include includes/nav
.flex-row-wrap-container
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/calendar.svg')
    | Rota
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/piggybank.svg')
    | Payslips
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/person.svg')
    | Profile