include includes/header
.navbar-row
  a(href="/")
    img.small-image(src='/res/icons/home.svg')
  a(href="/rota")
    img.small-image(src='/res/icons/calendar.svg')
  a(href="/payslips")
    img.small-image(src='/res/icons/piggybank.svg')
  a(href="/profile")
    img.small-image(src='/res/icons/person.svg')
  a(href="/logout")
    img.small-image(src='/res/icons/logout.svg')
.flex-row-wrap-container
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/calendar.svg')
    | Rota
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/piggybank.svg')
    | Payslips
  .dashboard-card-container.centre-flex-row-items
    img(src='/res/icons/person.svg')
    | Profile