mixin loopPayslips(payslips)
  each payslip in payslips
    table(class="overflow-table safe-centre-table")
      thead 
        tr 
          th Issue Date 
          th Download
      tbody 
        tr 
          td=payslip.issueDate
          td 
            a(class="primary-button" href=`payslips/${payslip._id}/download`) Download

include includes/header
include includes/nav
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | Payslip
.scroll-flex-row-container(style='margin-top: var(--medium-px)')
  +loopPayslips(user.payslips)
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  a.secondary-button(style='margin-left: var(--large-px)')
    | Return
