head
  link(rel='stylesheet' href='/Users/abbywilson/G9/src/css/stylesheet.css')
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  .title-text-box.blue-title-text-box(style='padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;')
    | Payslip
iframe(src='' width='100%' height='500px')
.flex-row-container.centre-flex-row-items(style='margin-top: var(--medium-px)')
  a.primary-button(style='margin-left: var(--large-px)')
    | Download
  a.secondary-button(style='margin-left: var(--large-px)')
    | Return
