mixin loopPayslips(payslips)
    each payslip in payslips
        embed(src=`${payslip.taxCode}`, type="application/pdf", width="500", height="375")

include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="centre-flex-row-items pdf-container")
            +loopPayslips(loggedInUser.payslips)