//Geths the current time for the users punch in 
- var currentTime = new Date().toLocaleTimeString();


include includes/header.pug
div#page-container 
    include includes/nav
    div#content-container
        div(class="flex-row-container centre-flex-row-items" style="margin-top: var(--medium-px)")
            div(class="title-text-box" style="padding: var(--medium-px); margin: 0px var(--medium-px) 0px var(--medium-px); hyphens: none;").
                Current Time: #{currentTime}
        div(class="punchInButtonContainer flex-row-container centre-flex-row-items")
            form(action="/timeClock" method="POST")
                if newShift
                    input(type="hidden" name="punchType" value="in")
                    input(type="submit" value="Punch In").punchInButton
                    //When punched in reroute to home page (?)
                else
                    input(type="hidden" name="punchType" value="out")
                    input(type="submit" value="Punch Out").punchInButton
                    //When punched out reroute to home page (?)