.viewport {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 40rem;
  height: 30rem;
  margin: 2rem;
  border: 1px solid lightgrey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__img {
  width: 100px;
  height: 100px;
  transform: translateY(-8.3rem);
}
.login__form {
  transform: translateY(-1rem);
}
.login__formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.login__label {
  width: 24rem;
  margin-bottom: 5px;
}
.login__input {
  width: 24rem;
  border: 1px solid grey;
  padding: 0.5rem;
}
.login__button {
  border: 1px solid #5F8DD3;
  background: #fff;
  padding: 10px 20px;
}
.login__button:hover {
  cursor: pointer;
  background: #5F8DD3;
  color: white;
}
