/* <---- Root / General ----> */
:root {
    --blue-gradient: linear-gradient(75deg, rgb(58, 117, 219), rgb(40, 120, 255));
    --unsat-blue-gradient: linear-gradient(75deg, rgb(171, 177, 186), rgb(182, 187, 195));
    --near-white-gradient: linear-gradient(75deg, rgb(245, 248, 255), rgb(235, 243, 255));
    --near-black: hsl(219, 100%, 5%);
    --near-white: hsl(219, 100%, 98%);
    --pop-reg: "poppins-regular";
    --pop-bold: "poppins-bold";
    --kumbh-reg: "kumbh-sans-regular";
    --kumbh-bold: "kumbh-sans-bold";
    --small-px: 12px;
    --medium-px: 24px;
    --large-px: 48px;
    --small-font: 12px;
    --medium-font: 16px;
    --large-font: 20px;
    --xlarge-font: 24px;
    --x2large-font: 28px;
}

@font-face {
    font-family: "kumbh-sans-regular";
    src: url(../../res/fonts/kumbh-sans-regular.ttf);
}

@font-face {
    font-family: "kumbh-sans-bold";
    src: url(../../res/fonts/kumbh-sans-bold.ttf);
}

* {
    margin: 0;
    /* overflow: hidden; */

    font-family: sans-serif;

    user-select: none;

    box-sizing: border-box;
}

/* <---- Text Combinations ----> */
.title-text-box {
    width: auto;
    height: auto;
    padding: var(--small-px);
    border-radius: var(--small-px);

    font-size: var(--x2large-font);
    text-align: center;
}

.blue-title-text-box {
    color: var(--near-white);
    background: var(--blue-gradient);
    font-weight: bold;
}

.white-title-text-box {
    color: var(--near-black);
    background: var(--near-white-gradient);
}

/* <---- Buttons ----> */
.primary-button {
    width: auto;
    height: auto;
    padding: var(--small-px);
    border-radius: 5px;

    color: var(--near-white);
    background: var(--blue-gradient);
    font-size: var(--medium-font);
    text-decoration: none;
}

.primary-button:hover {
    filter: saturate(2.2);
}

.secondary-button {
    width: auto;
    height: auto;
    padding: var(--small-px);
    border-radius: 5px;

    color: var(--near-black);
    background: var(--unsat-blue-gradient);
    font-size: var(--medium-font);
    text-decoration: none;
}

.secondary-button:hover {
    filter: saturate(4.4);
}

.tertiary-button {
    width: auto;
    height: auto;
    padding: var(--small-px);
    border-radius: 5px;

    color: var(--near-black);
    background: transparent;
    font-size: var(--medium-font);
    text-decoration: none;
}

/* <---- Table ----> */
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
}

.overflow-table {
    width: auto;
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    border-radius: var(--medium-px);
}

.overflow-table > * {
    font-family: var(--pop-reg);
}

.overflow-table > thead {
    background: var(--blue-gradient);
    border-collapse: collapse;
}

.overflow-table > thead > tr {
    width: auto;
    height: auto;
    padding: var(--medium-px);
}

.overflow-table > thead > tr > th {
    width: auto;
    height: auto;
    padding: var(--medium-px);

    font-size: var(--large-font);
    color: var(--near-white);
}

.overflow-table > tbody > tr:nth-child(odd) {
    background-color: var(--near-white);
}

.overflow-table > tbody > tr > td {
    width: auto;
    height: auto;
    padding: var(--medium-px);

    font-size: var(--medium-font);
}

.overflow-table > tbody > tr > td > a:not(:first-child) {
    margin-left: var(--small-px);
}

.safe-centre-table {
    margin: 0 auto;
}

/* <---- Containers ----> */
.flex-row-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.scroll-flex-row-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-snap-align: end;
}

.centre-flex-row-items {
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* <---- Form ----> */
.vertical-form {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    padding: var(--medium-px);

    flex-grow: 1;
}

.vertical-form > div {
    height: auto;
    justify-content: space-around;

    padding: var(--small-px);
}

.vertical-form > div:first-child {
    display: flex;
    text-align: right;
}

.vertical-form > div:nth-child(2) {
    display: flex;
}

.vertical-form > div:first-child > label, .vertical-form > div:nth-child(2) > input {
    width: 100%;
}

.vertical-form > div:not(:last-child) {
    display: flex;
    flex-direction: column;
}

.vertical-form > div:last-child {
    display: flex;
    flex-direction: row;

    flex-basis: 100%;

    justify-content: center;
}

.vertical-form > div:last-child {
    margin-top: var(--small-px);
}

.vertical-form > div > a:last-child {
    margin-left: var(--small-px);
}

.vertical-form > div > *:not(:first-child) {
    margin-top: var(--small-px);
}

.vertical-form > div > input:not([type=submit]) {
    padding: var(--small-px);

    border-radius: var(--small-px);
    border-style: solid;
}

.vertical-form > div > a {
    padding: inherit;
    margin: inherit;
}

/* <---- New Additions ----> */
.flex-row-wrap-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-card-container {
    display: flex;
    height: 300px;
    margin: var(--medium-px);
    flex-direction: column;

    background: var(--blue-gradient);
    border-radius: var(--small-px);

    color: var(--near-white);
    font-size: var(--x2large-font);
    font-weight: bold;
    font-family: sans-serif;
}

.dashboard-card-container > img {
    width: var(--large-px);
}

.navbar-row {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;

    background: var(--blue-gradient);
    border-radius: 0px 0px var(--small-px) var(--small-px);

    align-items: center;
}

.navbar-row > * {
    margin-left: var(--medium-px);
    height: var(--large-px);
}

.small-image {
    height: 48px;
    width: 48px;
}

@media screen and (min-width: 1200px) {
    .flex-row-wrap-container > * {
        flex-basis: calc(25% - (var(--medium-px) * 1.25));
    }

    .flex-row-wrap-container > div:nth-child(4n), div:nth-child(4n - 1), div:nth-child(4n - 2) {
        margin-left: 0px;
    }

    .flex-row-wrap-container > div:nth-child(n+5) {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 600px) {
    .flex-row-wrap-container > * {
        flex-basis: calc(50% - (var(--medium-px) * 1.5));
    }

    .flex-row-wrap-container > div:nth-child(2n) {
        margin-left: 0px;
    }

    .flex-row-wrap-container > div:nth-child(n+3) {
        margin-top: 0px;
    }
}

@media screen and (max-width: 599px) {
    .flex-row-wrap-container > * {
        flex-basis: calc(100% - (var(--medium-px)));
    }

    .flex-row-wrap-container > div:nth-child(n+2) {
        margin-top: 0px;
    }
}