doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Employee App
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    if css
      link(rel="stylesheet" type="text/css" href=css.url)
  body
